<div class="container mt-5 w-50 d-column">
    <h1 class="text-center p-">Enter your mail...</h1>
    <form action="/api/sendrecoverpass" method="post" class="d-flex justify-content-center ">
        <ul>
            <li class="mb-2">
                <input type="text" name="email" placeholder="Email" required>
            </li>
            <li class="text-center">
                <input type="submit" value="Send">
            </li>
        </ul>
    </form>
</div>
    
<script src="/js/index.js"></script>