<div class="container mt-5 w-50 d-column">
    <h1 class="text-center">New user</h1>
    <form action="/api/register" method="post" class="d-flex justify-content-center formRegis">
        <label for="">First Name:</label>
        <input type="text" name="first_name" required>
        <label for="">Last name:</label>
        <input type="text" name="last_name" required>
        <label for="">Email:</label>
        <input type="text" name="email" required>
        <label for="">Age:</label>
        <input type="number" name="age" required>
        <label for="">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Register" class="mt-3">
    </form>
    <button class="mb-4 btn btn-danger"><a href="/api" class="text-white">Cancel</a></button>
</div>
<script src="/js/index.js"></script>