<div>
    <h1 class="text-success text-center">
    ¡Register sucefully! <br> Welcome {{name}}, now you can login.
    </h1>
    <button class="mb-4 btn btn-success"><a href="/api" class="text-white">Login</a></button>
</div>
